@use "./utilities.scss";

$zIndex: (
  "document-player-wrapper": 0,
  "document-overview-wrapper": 10,
  "draggable-video-wrapper": 10,
);

.__player-element-wrapper-base {
  overflow: hidden;
  position: absolute;
}

.document-player-wrapper {
  @extend .__player-element-wrapper-base;

  &.unactive {
    animation: playerWrapperUnactive forwards 0.4s ease-in-out;
  }
  &.active {
    animation: playerWrapperActive forwards 0.4s ease-in-out;
  }

  @mixin unactive {
    opacity: 0;
    // visibility: hidden;
    height: 100%;
    top: 0;
  }

  @mixin active {
    opacity: 1;
    // visibility: visible;
    height: 100%;
    top: 0;
  }

  @keyframes playerWrapperActive {
    0% {
      @include unactive;
    }
    100% {
      @include active;
    }
  }

  @keyframes playerWrapperUnactive {
    0% {
      @include active;
    }
    100% {
      @include unactive;
    }
  }
}

.document-overview-wrapper {
  @extend .__player-element-wrapper-base;

  &.unactive {
    animation: playerWrapperUnactive forwards 0.6s ease-in-out;
  }
  &.active {
    animation: playerWrapperActive forwards 0.6s ease-in-out;
  }

  transform: translateX(100%);

  @mixin unactive {
    opacity: 0;
    visibility: hidden;
  }

  @mixin active {
    opacity: 1;
    visibility: visible;
  }

  @keyframes overviewWrapperActive {
    0% {
      @include unactive;
    }
    100% {
      @include active;
    }
  }

  @keyframes overviewWrapperUnactive {
    0% {
      @include active;
    }
    100% {
      @include unactive;
    }
  }
}

.draggable-video {
  @extend .__player-element-wrapper-base;

  &.unactive {
    animation: draggableVideoUnactive forwards 0.75s ease-in-out;
  }
  &.active {
    animation: draggableVideoActive forwards 0.75s ease-in-out;
  }

  transition: opacity 0.75s ease-in-out, top, left, transform, width;

  @mixin unactive {
    opacity: 0;
    visibility: hidden;
    bottom: 0px;
    right: 15px;
    width: 100%;
  }

  @mixin active {
    opacity: 1;
    visibility: visible;
    bottom: 0px;
    right: 15px;
    width: 350px;
  }

  @keyframes draggableVideoActive {
    0% {
      @include unactive;
    }
    50% {
      @include unactive;
    }
    100% {
      @include active;
    }
  }

  @keyframes draggableVideoUnactive {
    0% {
      @include active;
    }
    100% {
      @include unactive;
    }
  }
}

.video-controls-wrapper {
  // width: 100%;
  // @extend .__player-element-wrapper-base;
  position: absolute;
  transition: bottom transform 1s ease-in-out;

  .active {
    transition: opacity 0.2s ease-in-out;
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }
}
